#homepage, .navbar{
    background-color: #1e1e1e;
    color: #FFF;
}

h1{
    font-family: Collvetica;
}

#homepage{
    padding: 50px;
}

.icon{
    height: 200px;
    width: 200px;
    margin: 35px 45px;
}

.rainbow-text1 {
    background-image: linear-gradient(to bottom, var(--red), var(--red), var(--yellow),var(--yellow));   
    -webkit-background-clip: text;
    color: transparent;
}

.rainbow-text2 {
    background-image: linear-gradient(to bottom, var(--green),var(--green), var(--teal), var(--teal));   
    -webkit-background-clip: text;
    color: transparent;
}

.rainbow-text3 {
    background-image: linear-gradient(to bottom, var(--blue),var(--blue), var(--purple), var(--purple));   
    -webkit-background-clip: text;
    color: transparent;
}

#albumIcon { 
    animation-name: albumIcon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    color: var(--red);
}
 
@keyframes albumIcon {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

#bookIcon { 
    animation-name: bookIcon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    color: var(--green);
}
 
@keyframes bookIcon {
    0% { transform: translate(0px,  -5px); }
    50%  { transform: translate(10px, -15px); }
    100%   { transform: translate(0, -5px); }   
}

#movieIcon { 
    animation-name: movieIcon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    color: var(--blue);
}
 
@keyframes movieIcon {
    0% { transform: translate(-5px,  0px); }
    50%  { transform: translate(-15px, 10px); }
    100%   { transform: translate(-5px, 0px); }   
}

#tvIcon { 
    animation-name: tvIcon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    color: var(--purple);
}
 
@keyframes tvIcon {
    0% { transform: translate(0,  5px); }
    50%  { transform: translate(15px, 0px); }
    100%   { transform: translate(0, 5px); }   
}

div.click-to-top {
    display:inline-block;
    position:relative;
}
    
div.click-to-top:hover{
    z-index:10;
}
    
div.click-to-top span {
    display: none; 
    position: absolute; 
    top: 150px;
    background: rgb(255, 255, 255); 
    color: inherit; 
    border-radius: 10px;
    height: auto;
    padding: 5px;
    width: max-content;
}

div.click-to-top:hover span {
    display: block; 
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.click-to-top:hover > .tooltip {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.btn {
    opacity: 0;
    transition: opacity .5s ease-out;
    color: #FFF;
  }
  
.uploader:hover > .btn {
    opacity: 1;
    transition: opacity .5s ease-in;
    
}

@media (max-width: 1024px) {
    .icon{
        margin:  25px;
    }
}

@media (max-width: 992px) {
    .icon{
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 920px) {
    .icon{
        margin: 20px;
    }
}

@media (max-width: 900px) {
    .icon{
        margin: 0px;
        height: 125px;
        width: 125px;
    }
    #albumIcon, #bookIcon, #movieIcon, #tvIcon{
        margin: 10px;
    }
}

@media (max-width: 460px) {
    .icon{
        height: 100px;
        width: 100px;
    }

    #albumIcon, #bookIcon, #movieIcon, #tvIcon{
        margin: 10px;
    }
}

@media (max-width: 340px) {
    .icon{
        height: 80px;
        width: 80px;
    }
}



