.login-container{
    margin: 50px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    color: #FFF;
    font-family: Ubuntu;
}

#border{
    width: 70vw;
    background-image: linear-gradient(to bottom, var(--red), var(--orange), var(--yellow),var(--green),var(--teal),var(--blue),var(--lavender),var(--purple),var(--pink));
    border-radius: 5px;
}

.registration{
    margin: 0px 50px;
}

#login input{
    all: unset;
    background-color: #FFF;
    border-radius: 5px;
    width: 100%;
}


#login h3{
    font-family: Collvetica;
    margin: 10px 0px;
}

#login button{
    all: unset;
    border: 2px solid #FFF;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    margin: 10px 0px;
} 

@media (max-width: 550px) {
    .registration{
        margin: 0px 50px;
    }
}