li{
    display: inline-flex;
}

.navbar h1{
    color: #FFF;
    margin: 10px 15px;
    border-bottom: 5px solid #FFF;
}

.link{
    padding: 5px 10px;
    margin: 10px 0px;
    border-right: 2px solid #FFF;
}

.no-border{
    border: none;
}

#newPost{
    border: 2px solid #FFF;
    color: #FFF;
    font-weight: bold;
}

@media (max-width: 991px) {
    li, .link{
        display:inline-block;
        border: none;
    }

    ul{
        padding-left: 0;
    }
}