li{
    display: inline-flex;
}

.navbar h1, .link{
    color: #FFF;
    margin: 10px 15px;
}

@media (max-width: 991px) {
    li{
        display:block;
    }

    ul{
        padding-left: 0;
    }
}