@font-face {
  font-family: Collvetica;
  src: url(../assets/fonts/coolvetica\ rg.otf)
}

@font-face {
    font-family: Ubuntu;
    src: url(../assets/fonts/Ubuntu-Medium.ttf)
}

@font-face {
    font-family: UbuntuLight;
    src: url(../assets/fonts/Ubuntu-LightItalic.ttf)
}

@font-face {
    font-family: UbuntuItalic;
    src: url(../assets/fonts/Ubuntu-Italic.ttf)
}

:root{
    --red: #e5524e;
    --orange: #ea8a58;
    --yellow: #eaab3f;
    --green: #8ab560;
    --teal: #519f82;
    --blue: #427d9e;
    --lavender: #89629f;
    --purple: #a94294;
    --black: #2d2d2d;
}


